.calculator {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 2rem;
  &__input {
    border: none;
    border-bottom: 2px solid blue;
    color: black;
    width: 100%;
  }
}