.carusel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 2rem;
  height: 14rem;
  &__button {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    border-radius: 1rem;
    background: #e0d7d7;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  &__image {
    width: 10rem;
  }
}