.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__menu {
    width: 30%;
    height: 3rem;
    display: flex;
  }

  &__menu-item {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    width: 33.3%;
    height: 100%;
    background: #e0d7d7;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s linear;
    box-sizing: border-box;
    user-select: none;
    &_active {
      font-size: 1.2rem;
      border-bottom: 0.3rem solid #87b6e6;
    }
  }
}